<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    {%if site.color-scheme %}
    <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", site.color-scheme | append: site.github.build_revision | relative_url }}">
    {% else %}
    <link rel="stylesheet" href="{{ "/assets/css/colors-auto.css?v=" | append: site.github.build_revision | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% include head-custom.html %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }} <i class="fa fa-check-circle-o" aria-hidden="true"></i></a></h1>
        {% if site.avatar %}
          <img src="{{ site.avatar | relative_url }}" alt="{{ site.title }}" />
        {% endif %}
        <p>{{ site.description }}</p>
        <p><a target="_blank" href="{{ site.linkedin }}" rel="noopener noreferrer"><i class="fa fa-linkedin" aria-hidden="true"></i>  Connect on LinkedIn</a></p>
        <p><a target="_blank" href="mailto:{{ site.mail }}" rel="noopener noreferrer"><i class="fa fa-envelope" aria-hidden="true"></i>  Contact via Email</a></p>
        <p><a target="_blank" href="{{ site.bookatime }}" rel="noopener noreferrer"><i class="fa fa-calendar" aria-hidden="true"></i>  Book a time</a></p>
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p>Site maintained by <a  target="_blank" href="{{ site.github.owner_url }}">myself</a>.</p>
        <p><small>Hosted on GitHub Pages.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>